* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.nav {
    margin-top: 5px;
}

.nav .link {
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: #000000;
    font-size: .99em;
}

.nav .verticalBar{
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: #000000;
    font-size: .99em;
}

.nav .link:hover {
    background-color:rgb(122, 122, 122);
    color: #000000;
}

body {
    line-height: 1.6;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    color: #000000;
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.1em;
    margin-right: 10px;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;   
    background-color: rgb(192, 192, 192);
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    /*
    border: 1px solid #646174;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    */
}

.middle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.left{
    display: inline;
    margin-right: 10px;
    background-color: rgb(192, 192, 192);
    border-radius: 15px;
}

.center{
    display: inline;
    margin-right: 10px;
    margin-bottom: -10px;
}

.center .post{
    margin-bottom: 10px;
    background-color: rgb(192, 192, 192);
    border-radius: 15px;
}

.center .post .postHeader .logoPost{
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.center .post .postHeader .date {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 5px;
}

.center .post .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.center .post .comment {
    margin-left: 10px;
}

.center .post .like {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 5%;
}

.right{
    display: inline;
    background-color: rgb(192, 192, 192);
    border-radius: 15px;
}

.footer {
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* 
    Applies when the browser's width is 0px wide or wider: 
*/
@media (min-width: 0px) {

    .header,
    .nav {
        display: flex;
    }

    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}

/* 
    Applies when the browser's width is 0px wide or wider and less than 500px: 
*/
@media (min-width: 0px) and (max-width: 500px){

    .left {
        display: none;
    }
    .center{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .right {
        display: none;
    }

}

/* 
    Applies when the browser's width is 500px wide or wider: 
*/
@media (min-width: 500px) {

    .left {
        width: 20%;
        
    }
    .center{
        width: 60%;
    }
    .right {
        width: 20%;
    }

}
