* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.nav {
    margin-top: 5px;
    margin-left: 1%;
}

.nav .link {
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: #000000 ;
    font-size: .99em;
}

.nav .verticalBar{
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: #000000;
    font-size: .99em;
}

.nav .link:hover {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color:rgb(122, 122, 122);
    color: #000000;
}

.nav-post {
    margin-top: 5px;
    margin-left: 1%;
}

.nav-post .postlink {
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: #000000;
    font-size: .99em;
}

.nav-post .postverticalBar{
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: #000000;
    font-size: .99em;
}

.nav-post .postlink:hover {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color:rgb(122, 122, 122);
    color: #000000;
}

body {
    line-height: 1.6;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    color: #000000;
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.1em;
    margin-right: 2%;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;   
    background-color: rgb(192, 192, 192);
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    /*
    border: 1px solid #646174;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    */
}

.middle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.left{
    display: inline;
    margin-right: 10px;
    background-color: rgb(192, 192, 192);
    border-radius: 15px;
}

.center{
    display: inline;
    margin-right: 10px;
    margin-bottom: -10px;
    height: auto;
    width: auto;
}

.center .post{
    margin-bottom: 10px;
    background-color: rgb(218, 214, 214);
    border-radius: 15px;
}

.center .post .postHeader .logoPost{
    display: inline-block;
    margin-top: 5px;
    margin-left: 2%;
}

.center .post .postHeader .date {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 5%;
}

.center .post .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.center .post .comment {
    margin-left: 10px;
}

.center .post .like {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 5%;
}

.right{
    display: inline;
    background-color: rgb(192, 192, 192);
    border-radius: 15px;
}

.footer {
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.post > .comment {
    font-weight: bold;
}

.postHeader ~ .comment {
    text-decoration: underline;
}

.pAdd + .chooseAdd {
    background-color: black;
}

/* 
    Applies when the browser's width is 0px wide or wider: 
*/
@media (min-width: 0px) {

    .header,
    .nav {
        display: flex;
    }

    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}

/* 
    Applies when the browser's width is 0px wide or wider and less than 500px: 
*/
@media (min-width: 0px) and (max-width: 500px){

    .left {
        display: none;
    }
    .center{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .right {
        display: none;
    }

}

/* 
    Applies when the browser's width is 500px wide or wider: 
*/
@media (min-width: 500px) {

    .left {
        width: 20%;
        
    }
    .center{
        width: 60%;
    }
    .right {
        width: 20%;
    }

}

.login-form{
    height: 500px;
    padding: 30px;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 15px;
    width: 300px;
    display:table;/* shrinks to fit conntent */
    margin:auto;
    margin-top: 5%;
}


.login-form input[type = "text"], .login-form input[type = "password"]{
    display: block;
    margin: 5px auto;
    padding: 10px 9px;
    width: 80%;
    border-radius: 5px;
    border-color: white;

}

.login-form input[type = "submit"]{
    background-color: #0f569c;
    border: 0px;
    color: white;
    height: 30px;
    width: 75px;
    margin-top: 12px;
    border-radius: 5px;
}

.login-form h4{
    margin-top:5px;
    font-size: 12px;
}

.login-form h2{
    font-size: 20px;
}

.login-form p > a, .login-form h4 > a{
    color: rgb(0, 204, 255);
    text-decoration: none;
}


.post-form{
    height: 500px;
    padding: 30px;
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 15px;
    width: 500px;
    display:flex;
    margin:auto;
    margin-top: 5%;
    gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 50%;
    grid-template-columns: 2fr;

}

.post-form textarea{
    display: flex;
    padding: 10px 9px;
    width: 80%;
    border-radius: 5px;
    border-color: white;
    float:right;
    height: 60%;
    right: 0px;
    margin-right: 0px;
    align-items: center;
}


label {
    background-color: #0f569c;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 200px;
  }

.submit-post{
    align-items: center;
    cursor: pointer;
}

.post-form input[type = "submit"]{
    background-color: #0f569c;
    border: 0px;
    color: white;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    align-items: center;
    margin-top: 50px;
    margin-left: 160px;
    width: 100px;
    align-items: center;
    cursor: pointer;
}
